### Insert columns

* Insert column year

* Insert missing columns

* Rearragement of column order

In [1]:
import pandas as pd

import numpy as np

df19 = pd.read_csv("df19_final_headers.csv")

df19

,Age,Gender,Country,Education,Current_Role,Current_Yearly_Compensation,Data_Science_Courses_Udacity,Data_Science_Courses_Coursera,Data_Science_Courses_Edx,Data_Science_Courses_Datacamp,...,Machine_Learning_Frameworks_Keras,Machine_Learning_Frameworks_Randomforest,Machine_Learning_Frameworks_Xgboost,Machine_Learning_Frameworks_Pytorch,Machine_Learning_Frameworks_Caret,Machine_Learning_Frameworks_Lightgbm,Machine_Learning_Frameworks_Spark_Mllib,Machine_Learning_Frameworks_Fast.Ai,Machine_Learning_Frameworks_None,Machine_Learning_Frameworks_Other
0,22-24,Male,France,Master’s degree,Software Engineer,"30,000-39,999",NaN,Coursera,NaN,DataCamp,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,40-44,Male,India,Professional degree,Software Engineer,"5,000-7,499",NaN,Coursera,NaN,DataCamp,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55-59,Female,Germany,Professional degree,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,40-44,Male,Australia,Master’s degree,Other,"250,000-299,999",NaN,Coursera,edX,DataCamp,...,Keras,RandomForest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,22-24,Male,India,Bachelor’s degree,Other,"4,000-4,999",NaN,NaN,NaN,NaN,...,NaN,RandomForest,Xgboost,NaN,NaN,LightGBM,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19712,50-54,Male,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19713,18-21,Male,India,Bachelor’s degree,Other,$0-999,NaN,NaN,NaN,DataCamp,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19714,35-39,Male,India,Master’s degree,Student,NaN,NaN,Coursera,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19715,25-29,Male,India,Master’s degree,Statistician,"1,000-1,999",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19716,50-54,Male,France,Bachelor’s degree,Software Engineer,"60,000-69,999",NaN,Coursera,edX,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Spark MLib,NaN,NaN,NaN

Insert column Year 2019

In [2]:
df19.insert(0, "Year", 2019)

df19

,Year,Age,Gender,Country,Education,Current_Role,Current_Yearly_Compensation,Data_Science_Courses_Udacity,Data_Science_Courses_Coursera,Data_Science_Courses_Edx,...,Machine_Learning_Frameworks_Keras,Machine_Learning_Frameworks_Randomforest,Machine_Learning_Frameworks_Xgboost,Machine_Learning_Frameworks_Pytorch,Machine_Learning_Frameworks_Caret,Machine_Learning_Frameworks_Lightgbm,Machine_Learning_Frameworks_Spark_Mllib,Machine_Learning_Frameworks_Fast.Ai,Machine_Learning_Frameworks_None,Machine_Learning_Frameworks_Other
0,2019,22-24,Male,France,Master’s degree,Software Engineer,"30,000-39,999",NaN,Coursera,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,40-44,Male,India,Professional degree,Software Engineer,"5,000-7,499",NaN,Coursera,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,55-59,Female,Germany,Professional degree,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,40-44,Male,Australia,Master’s degree,Other,"250,000-299,999",NaN,Coursera,edX,...,Keras,RandomForest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,22-24,Male,India,Bachelor’s degree,Other,"4,000-4,999",NaN,NaN,NaN,...,NaN,RandomForest,Xgboost,NaN,NaN,LightGBM,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19712,2019,50-54,Male,Japan,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19713,2019,18-21,Male,India,Bachelor’s degree,Other,$0-999,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19714,2019,35-39,Male,India,Master’s degree,Student,NaN,NaN,Coursera,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19715,2019,25-29,Male,India,Master’s degree,Statistician,"1,000-1,999",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19716,2019,50-54,Male,France,Bachelor’s degree,Software Engineer,"60,000-69,999",NaN,Coursera,edX,...,NaN,NaN,NaN,NaN,NaN,NaN,Spark MLib,NaN,NaN,NaN

Insert missing columns

* list of missing columns from df18-21_missing_columns.ipynb

In [3]:
missing_columns_text="""
Notebook_Products_Amazon_Sagemaker_Studio
Programming_Languages_C#
Programming_Languages_Swift
Machine_Learning_Frameworks_Mxnet
Notebook_Products_Google_Cloud_Datalab_Notebooks
Programming_Languages_Visual_Basic
Machine_Learning_Frameworks_Tidymodels
Data_Visualization_Libraries_Lattice
Notebook_Products_Domino_Datalab
Programming_Languages_Vba
Notebook_Products_Databricks_Collaborative_Notebooks
Machine_Learning_Frameworks_Huggingface
Data_Science_Courses_Cloud_Certification_Programs
Machine_Learning_Frameworks_Cntk
Data_Science_Courses_Developers.Google.Com
Notebook_Products_Zepl_Notebooks
Ide's_nteract
Notebook_Products_Deepnote_Notebooks
Machine_Learning_Frameworks_Jax
Machine_Learning_Frameworks_Mlr
Notebook_Products_Observable_Notebooks
Notebook_Products_Zeppelin
Machine_Learning_Frameworks_Catboost
Programming_Languages_Scala
Programming_Languages_Ruby
Programming_Languages_.Net
Machine_Learning_Frameworks_Caffe
Programming_Languages_Julia
Machine_Learning_Frameworks_Pytorch_Lightning
Programming_Languages_Sas
Programming_Languages_Go
Ide's_IntelliJ
Machine_Learning_Frameworks_H2o_3
Programming_Languages_Php
Notebook_Products_Amazon_Emr_Notebooks
Machine_Learning_Frameworks_Prophet
Notebook_Products_Crestle
Programming_Languages_Stata
Data_Science_Courses_Theschool.Ai"""

missing_columns = missing_columns_text.strip().splitlines()

print(missing_columns)

len(missing_columns)

['Notebook_Products_Amazon_Sagemaker_Studio', 'Programming_Languages_C#', 'Programming_Languages_Swift', 'Machine_Learning_Frameworks_Mxnet', 'Notebook_Products_Google_Cloud_Datalab_Notebooks', 'Programming_Languages_Visual_Basic', 'Machine_Learning_Frameworks_Tidymodels', 'Data_Visualization_Libraries_Lattice', 'Notebook_Products_Domino_Datalab', 'Programming_Languages_Vba', 'Notebook_Products_Databricks_Collaborative_Notebooks', 'Machine_Learning_Frameworks_Huggingface', 'Data_Science_Courses_Cloud_Certification_Programs', 'Machine_Learning_Frameworks_Cntk', 'Data_Science_Courses_Developers.Google.Com', 'Notebook_Products_Zepl_Notebooks', "Ide's_nteract", 'Notebook_Products_Deepnote_Notebooks', 'Machine_Learning_Frameworks_Jax', 'Machine_Learning_Frameworks_Mlr', 'Notebook_Products_Observable_Notebooks', 'Notebook_Products_Zeppelin', 'Machine_Learning_Frameworks_Catboost', 'Programming_Languages_Scala', 'Programming_Languages_Ruby', 'Programming_Languages_.Net', 'Machine_Learning_Frameworks_Caffe', 'Programming_Languages_Julia', 'Machine_Learning_Frameworks_Pytorch_Lightning', 'Programming_Languages_Sas', 'Programming_Languages_Go', "Ide's_IntelliJ", 'Machine_Learning_Frameworks_H2o_3', 'Programming_Languages_Php', 'Notebook_Products_Amazon_Emr_Notebooks', 'Machine_Learning_Frameworks_Prophet', 'Notebook_Products_Crestle', 'Programming_Languages_Stata', 'Data_Science_Courses_Theschool.Ai']

39

In [4]:
#fill bullets with NaN

for column in missing_columns:
    df19[column] = np.nan

df19.to_csv("df19_col_complete.csv", index=False)

Rearrangement of column order

In [5]:
first_columns = ["Year", "Age", "Country", "Education", "Gender",
                 "Current_Role","Current_Yearly_Compensation", "Time_Writing_Code",
                  "Time_Using_Machine_Learning_Methods",
                  "Primary_Tool_Used_For_Data_Analysis"]

# all columns in df
all_columns = df19.columns.tolist()

# columns which aren't in first_columns
residue = sorted([col for col in all_columns if col not in first_columns])

# new order
new_order = first_columns + residue

# print(new_order)

#rearrangement of columns in df
df19 = df19[new_order]

df19.to_csv("df19_all_col.csv", index=False)